/* Portfolio Section Style */
.portfolio--section {
  display: flex;
  padding: 30px 85px;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 80px; */
}

.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 21.3px; */
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping of project cards */
}

.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}

.portfolio--section--img > img {
  width: 100%;
  height: 300px;
}

.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 25%; /* Allow two cards per row */
  background: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 20px; /* Add space between rows */
}

.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.portfolio--section--title {
  color: var(--heading-color);
}

.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio--section--card:hover path {
  stroke: #006b6a;
}

.btn--github {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.btn--github:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn--live {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--white);
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.btn--live:hover {
  color: var(--white);
  background-color: var(--primary);
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.btn--github, .btn--live {
  padding: 10px 20px;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .portfolio--section {
    padding: 30px 40px;
  }

  .portfolio--section--card {
    flex: 1 0 48%; /* Adjust width to fit smaller screens */
  }
}

@media (max-width: 768px) {
  .portfolio--section {
    padding: 20px 20px;
  }

  .portfolio--section--card {
    flex: 1 0 100%; /* Full width for smaller devices */
  }
}

@media (max-width: 480px) {
  .portfolio--section {
    padding: 10px 10px;
  }

  .portfolio--section--card--content {
    padding: 20px; /* Reduce padding on smaller screens */
    gap: 20px;
  }

  .portfolio--section--title {
    font-size: 20px;
  }

  .portfolio--link {
    font-size: 14px;
    gap: 10px;
  }
}
